<!-- <p>documents works!</p> -->
<div class="tableDetails">
    <table class="detales"*ngFor="let details of someDetail">
        
    
      <tr>
        <td>Name</td>
        <td>{{details.name| uppercase }}</td>
      </tr>
      <tr>
        <td>PAN</td>
        <td>{{details.pan_number| uppercase }}</td>
      </tr>
      <tr>
        <td>UID</td>
        <td>{{details.uid| uppercase }}</td>
      </tr>
          
      <tr>
        <td>Bank Number</td>
        <td>{{details.bank_number}}</td>
      </tr>
      <tr>
        <td>High Gualiton</td>
        <!-- <td>{{details.job_status| uppercase }}</td> -->
      </tr>
    </table>
  </div>